<div class="main-content">




    <div class="row data-row">
      <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
        <div class="row">
          
          <div class="col-12 ">
            <span>
            <h4> Users </h4> <img src="assets/icon/right-angle.svg" class="img-fluid">
            <h3>User Details</h3>
            </span>
            <div class="card component-card_9 zindex" >
              <div class="card-body ">
                <form role="form" >
                <div class="row">
                    
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 p-0">
                        <img src="assets/profile/profile-pic.png" class="prf-pic">
                    </div>
                    <div class="col-11 col-md-11 col-lg-11 col-xl-11">
                        <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="col-12">
                                <label for="fname">First Name</label>
                                <input type="text" placeholder="Lorem" class="form-control mb-3" id="fname">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                            <div class="col-12">
                                <label for="email">Email</label>
                                <input type="text" placeholder="Lorem@ipsum" class="form-control" id="email">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="col-12">
                                <label for="lname">Last Name</label>
                                <input type="text" placeholder="Lorem" class="form-control mb-3" id="lname">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                            <div class="col-12">
                                <label for="payment">Payment Type</label>
                                <input type="text" placeholder="Lorem" class="form-control" id="payment">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="col-12">
                                <label for="uname">Username</label>
                                <input type="text" placeholder="Lorem" class="form-control mb-3" id="uname">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                            <div class="col-12">
                                <label for="date">Start Date of Plan</label>
                                <input type="text" placeholder="Lorem" class="form-control" id="date">
                                <img src="assets/icon/edit-icon.svg" class="edit">
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="row padding-row">
                    <div class="col-12">
                        <button class="btn btn-cancel "  routerLink="/dashboard/home/main">Back</button>
                        <button class="btn btn-primary btn-save">Save Changes</button>
                    </div>
                </div>
                
                </form>
               
              </div>
  
            </div>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
  
  
  
  </div>
  