<div class="main-content">




    <div class="row data-row">
      <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
        <div class="row">
          
          <div class="col-12 ">
            <h4> Programs </h4>
            <div class="card component-card_9 zindex" >
              <div class="card-body ">
                <div class="row">
                  <!-- <div class="col-4" style="padding-left: 0;">
                    <div class="search-div">
                      <input class="form-control search-form" placeholder="Search Categories"> 
                      <i class="fas fa-search"></i>
    
                    </div>
                   
                  </div>  -->
                  <div class="col-12">
                    <button class="btn btn-create" routerLink="/dashboard/programs-new-category">Create New</button>
                  </div>
                </div>
                <hr>
                <div class="table-div">
                  <table class="table" >
                    <thead>
                      <tr >
                        <th >S.no</th>
                        <th >Program Image</th>
                        <th >Program Name</th>
                        <th >No. of Meditations</th>
                        
                       
    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of documents | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <td style="width: 10%;">
                          {{i + 1}}
                        </td>
                        <td style="width: 20%;"><img src={{item.payload.doc.data().background_image}} alt="" class="img-fluid" routerLink="/dashboard/program-detail"></td>
                        <td style="width: 20%;">{{item.payload.doc.data().title}}</td>
                        <td style="width: 30%;">{{item.payload.doc.data().title}}</td>
                        
                      </tr>
                    
                      
                    </tbody>
                  </table>
                  
                </div>
               
                <hr>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
               
              </div>
  
            </div>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
  
  
  
  </div>
  