<div class="main-content">




    <div class="row data-row">
      <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
        <div class="row">
          
          <div class="col-12 ">
            <span>
                <h4 routerLink="/dashboard/meditation/meditation-list"> Meditation Audios </h4> <img src="assets/icon/right-angle.svg" class="img-fluid">
                <h3>Create new Meditation</h3>
                </span>
            <div class="card component-card_9 zindex" >
              <div class="card-body " style="height: 90vh;">
                <div class="row">
                 
                </div>
               
               
              </div>
  
            </div>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
  
  
  
  </div>
  