<div class="main-content">




    <div class="row data-row">
      <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
        <div class="row">
          
          <div class="col-12 ">
            <span>
                <h4 > Intro Questions </h4>
                </span>
            <div class="card component-card_9 zindex" >
              <div class="card-body " >
                <div class="row">
                 <div class="col-12 col-md-4" *ngFor="let item of documents;"> 
                 <span >{{item.payload.doc.data().question}}</span>                
                      <section class="example-section">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]='value'
                            >
                        </mat-progress-bar>
                      </section>
                      <!-- <label>None {{value}}%</label> -->
                    
                 </div>
                 <div class="col-12 col-md-4" *ngFor="let item of docid;"> 
                  <span >{{item.option}}: {{item.vote_count}}</span>                 
                      <!-- <section class="example-section">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]='value'
                            >
                        </mat-progress-bar>
                      </section>
                      <label>None {{value}}%</label> -->
                    
                 </div>
                 <!-- <div class="col-4"> 
                  <span>What do you need most right now?</span>

                  <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]='value1'
                        >
                    </mat-progress-bar>
                  </section>
                  <label>A Little {{value1}}%</label>
                
             </div>
             <div class="col-4">         
              <span>What is the best time of day for your to meditate?</span>

              <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]='value2'
                    >
                </mat-progress-bar>
              </section>
              <label>A Lot {{value2}}%</label>
            
         </div> -->
                </div>
               
               
              </div>
  
            </div>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
  
  
  
  </div>
  