<div class="main-content">




    <div class="row data-row">
      <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
        <div class="row">
          
          <div class="col-12 ">
            <span>
            <h4> Paymet Setup </h4>
            </span>
            <div class="card component-card_9 zindex" >
              <div class="card-body ">
                <form role="form" >
                <div class="row">
                    
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Subscription Details</p>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            
                                <label for="uname">User Name</label>
                                <input type="text" placeholder="Lorem" class="form-control mb-3" id="uname">
                                
                           
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            
                                <label for="pmethod">Payment Method</label>
                                <input type="text" placeholder="Lorem" class="form-control mb-3" id="pmethod">
                               
                            
                               
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            
                            
                                <label for="cplan">Current Plan</label>
                                <input type="text" placeholder="Lorem" class="form-control" id="cplan">
                              
                            
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            
                            
                                <label for="date"> <span class="color-blue">Save 10% </span> of by switching the plan</label>
                                <!-- <select>
                                    <option value="monthly" selected> Monthly</option>
                                    <option value="yearly">Yearly SAVE 10% </option>
                                    
                                </select> -->
                                <mat-form-field appearance="fill">
                                    
                                    <mat-select>
                                      <mat-option value="Monthly">Monthly</mat-option>
                                      <mat-option value="Yearly SAVE 10%" >Yearly <span class="color-blue"> SAVE 10% </span></mat-option>
                                      
                                    </mat-select>
                                  </mat-form-field>
                                
                            
                        </div>
                    </div>
                    </div>
                    
                
                <div class="row padding-row">
                    <div class="col-12">
                        
                        <button class="btn btn-primary btn-save">Save Changes</button>
                    </div>
                </div>
                
                </form>
               
              </div>
  
            </div>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
  
  
  
  </div>
  