<div class="main-content">

  <div class="row data-row">
    <div class="col-12 cl-lg-12 col-xl-12 col-md-12" style="height: 90vh; overflow: auto; padding: 5vh 3vh;">
      <div class="row">

        <div class="col-12 ">
          <h4> Categories </h4>
          <div class="card component-card_9 zindex">
            <div class="card-body ">
              <div class="row">
                <!-- <div class="col-4" style="padding-left: 0;">
                    <div class="search-div">
                      <input class="form-control search-form" placeholder="Search Categories"> 
                      <i class="fas fa-search"></i>
    
                    </div>
                   
                  </div>  -->
                <div class="col-12">
                  <button class="btn btn-create" routerLink="/dashboard/create-new-category">Create New</button>
                </div>
              </div>
              <hr>
              <div class="table-div">
                <form [formGroup]="editDocumentForm" novalidate>
                <table class="table">
                  <thead>
                    <tr>
                      <th>S.no</th>
                      <th>Category Image</th>
                      <th>Category Name</th>
                      <th>Action</th>
                      <th></th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of documents | paginate: { itemsPerPage: 10, currentPage: p }; let index = index">
                      <td style="width: 10%;">
                        {{index + 1}}
                      </td>
                      <td style="width: 22%" *ngIf=" index != selectedIndex" >
                        <img *ngIf="item.payload.doc.data().background_image" src={{item.payload.doc.data().background_image}} alt="" class="img-fluid">
                        <img *ngIf="!item.payload.doc.data().background_image" src="assets/iot_logo.jpg" alt="" class="img-fluid">
                      </td>
                      <td style="width: 22%; position: relative;" class="edit-image" *ngIf=" index == selectedIndex" >
                        <img *ngIf="item.payload.doc.data().background_image && !filePresent" src={{item.payload.doc.data().background_image}} alt="" class="img-fluid edit-mode">
                        <img *ngIf="filePresent" src={{fb}} alt="" class="img-fluid edit-mode">
                       <input type="file" class="image-upload"  id="file"
                       #userPhoto
                       (change)="onFileSelected($event)"
                       name="image"
                       autocomplete="off">
                       <a class="text-upload text-hover" *ngIf="!spiner"> click to change </a>
                       <a class="text-upload" *ngIf="spiner"><i class="fas fa-spin fa-spinner"></i> </a>
                      </td>
                      <td *ngIf=" index != selectedIndex" style="width: 22%;"> {{item.payload.doc.data().title}}</td>
                      <td *ngIf=" index == selectedIndex" style="width: 22%;"><input formControlName="title" class="form-control" placeholder="Enter Title"> </td>
                      <td class="icon-td" style="width: 25%;">
                        <button mat-icon-button aria-label="Example icon button with a home icon"
                          (click)="editAction(index, item)">
                          <img src="assets/icon/edit-icon.svg" class="edit-icon">
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a home icon"
                          (click)="openDialog(item, 'delete')">
                          <img src="assets/icon/trash.svg">
                        </button>
                      </td>

                      <td *ngIf="showAction && index == selectedIndex" style="width: 20%;"><button class="btn btn-cancel" (click)="cancelAction()">
                          Cancel
                        </button>
                        <button class="btn btn-save" (click)="updateProgram(editDocumentForm, item)">
                          Save
                        </button></td>

                    </tr>


                  </tbody>
                </table>
</form>
              </div>

              <hr>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>





</div>
